@model ACES.Models.ViewModels.AssignmentStudentsVM

@{
    ViewData["Title"] = "Course Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.AssignmentName</h2>
<h3>Students with Submissions</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Total Submissions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sAssignment in Model.StudentAssignments)
            {
            <tr>
                <td>@sAssignment.StudentName</td>
                <td>@sAssignment.StudentEmail</td>
                <td>@sAssignment.NumSubmissions</td>
                <td>
                    <a asp-controller="Assignments" asp-action="AssignmentStudentSubmissions" asp-route-id="@sAssignment.Id">Submissions</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-controller="Courses" asp-action="CourseAssignments">Back to List</a>
</div>
